@font-face {
  font-family: now;
  src: url(./kfc-font.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: now;
}

html,
body {
  height: 100%;
  width: 100%;
}

.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 102;
  background-color: #fff;
}

.nav {
  height: 100px;
  width: 100%;
  background-color: rgb(152, 28, 28);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.nav .nav-1 img {
  height: 80px;
  margin: 30px 0;
}

.nav .nav-2 {
  display: flex;
  gap: 50px;
}

.nav .nav-2 .nav-2-1 {
  margin-top: 15px;
  display: flex;
  gap: 50px;
}
.nav .nav-2 .nav-2-1 h3 {
  text-transform: uppercase;
  font-weight: 200;
}

.nav .nav-2 .nav-2-2 img {
  height: 50px;
}

.page1 {
  height: 100vh;
  width: 100%;
  background-color: orangered;
  overflow: hidden;
  color: aliceblue;
}
.page1 .section {
  display: flex;
}

.page1 .leftside {
  height: 80%;
  width: 50%;
  /* background-color: rgb(212, 84, 70); */
  align-items: center;
  justify-content: center;
}

.page1 .leftside .container {
  margin: 20% 20%;
}

.page1 .leftside .container h1 {
  margin-bottom: 30px;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 750;
}
.page1 .leftside .container p {
  margin-bottom: 30px;
  font-weight: 50;
  font-size: large;
}
.page1 .leftside .container button {
  margin: 0 0%;
  font-weight: 900;
  padding: 20px 70px;
  border-radius: 20px;
  font-weight: 500;
  background-color: salmon;
  border: 2px solid white;
  color: white;
}
.page1 .leftside .container button:hover {
  background-color: brown;
}

.page1 .rightside img {
  height: 400px;
  margin-top: 15%;
  transition: 0.3s;
}

.page1 .rightside img:hover {
  height: 500px;
  margin-top: 15%;
}

.page1 .rightside {
  height: 80%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: brown;
}

.list {
  position: absolute;
  height: 50px;
  width: 100px;
  background-color: orange;
  border-radius: 20px;
  border: 2px solid white;
  z-index: 99;
  margin-bottom: 10%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.short-page-1 {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: azure;
}

.short-page-1 img {
  height: 80px;
  transition: 0.3s;
}
.short-page-1 .right,
.short-page-1 .left {
  height: 60px;
}
.short-page-1 .right:hover,
.short-page-1 .left:hover {
  height: 60px;
}

.short-page-1 img:hover {
  height: 100px;
}

.page2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(211, 199, 183);
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.page2 .page-2-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.page2 .page-2-1 .card {
  margin-top: 10%;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  background-color: azure;
  transition: 0.3s;
}
.page2 .page-2-1 .card {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.page2 .page-2-1 .card:nth-child(1):hover {
  background-color: rgb(125, 207, 209);
}
.page2 .page-2-1 .card:nth-child(3):hover {
  background-color: rgb(194, 194, 124);
}

.page2 .page-2-2 {
  margin-top: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.page2 .page-2-2 .card-2 {
  height: 200px;
  width: 450px;
  border-radius: 20px;
  background-color: azure;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.page2 .page-2-2 .card-2:nth-child(1):hover {
  height: 250px;
  width: 500px;
  background-color: rgb(227, 144, 144);
}

.page2 .page-2-2 .card-2:nth-child(2):hover {
  height: 250px;
  width: 500px;
  background-color: rgb(227, 144, 144);
}

.card .rightside img {
  height: 80px;
}

.card-2 .rightside img {
  height: 100px;
}

.page2 .page-2-2 .card-2 .leftside button {
  height: 50px;
  width: 100px;
  border-radius: 20px;
  background-color: salmon;
  margin-top: 20px;
  font-size: large;
  font-weight: 600;
  color: white;
}

.short-page2 {
  transition: 0.3s;
}

.short-page2 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  height: 400px;
  width: 100%;
  background-color: rgb(140, 113, 113);
}

.short-page2 .container .leftside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.short-page2 .container .leftside .banner-1 {
  position: absolute;
  height: 450px;
  z-index: 99;
  border-radius: 10px;
  transition: 0.3s;
}

.short-page2 .container .leftside .banner-2 {
  position: absolute;
  height: 410px;
  margin-left: 250px;
  border-radius: 10px;
  z-index: 98;
  transition: 0.3s;
}

.short-page2 .container .leftside .banner-1:hover {
  height: 480px;
}
.short-page2 .container .leftside .banner-2:hover {
  height: 440px;
}

.short-page2 .container .rightside {
  height: 400px;
  width: 50%;

  justify-content: center;
  align-items: center;
}
.short-page2 .container .rightside h1 {
  margin-left: 100px;
  margin-top: 20%;
  color: white;
  text-transform: uppercase;
}

.short-page2 .container .rightside .imgs {
  width: 100%;
  margin-left: 15%;
}

.short-page2 .container .rightside .imgs img {
  height: 200px;
  border-radius: 20px;
  transition: 0.3s;
}

.short-page2 .container .rightside .imgs img:hover {
  height: 220px;
}

.page3 {
  height: 100vh;
  width: 100%;
  background-color: rgb(211, 199, 183);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 0 200px;
}

.page3 h1 {
  font-size: 100px;
  opacity: 0.2;
  text-transform: uppercase;
}

.page3 .leftside .card {
  height: 200px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: 0.3s;
  padding: 30px;
}

.page3 .leftside .card:hover {
  background-color: rgb(237, 169, 169);
}

.page3 .leftside .card-2 {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
  transition: 0.3s;
}

.page3 .leftside .card-2:hover {
  background-color: rgb(173, 97, 97);
}

.page3 .leftside img {
  height: 40px;
}

.page3 .leftside .left-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.page3 .leftside .left-2 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  height: 10vh;
  width: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.socials img {
  height: 50px;
}

.socials .leftside {
  display: flex;
  align-items: center;
  gap: 55px;
}

.socials .leftside .contain {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.socials .leftside .contain p {
  font-size: 25px;
  font-weight: bolder;
}

.socials .rightside {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer {
  height: 30vh;
  width: 100%;
  background-color: rgb(66, 58, 58);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color: white;
}

.footer .leftside {
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 40px;
  line-height: 30px;
}

.footer img {
  height: 200px;
}
